:root {
  --main-color-text: #002b5b;
  --main-border-color: rgba(111, 173, 173, 0.3);
  --secondary-color-text: #f9f5eb;
  --secondary-border-color: rgb(232, 249, 253);
  --third-border-color: rgba(0, 0, 0, 0.3);
  --third-border-color-dark: rgb(232, 249, 253);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.material-symbols-outlined {
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.material-symbols-outline:hover {
  opacity: 1;
}
.background {
  background: rgb(91, 41, 120);
  background: linear-gradient(
    90deg,
    rgba(91, 41, 120, 0.9248074229691877) 0%,
    rgba(125, 59, 172, 0.7371323529411764) 48%,
    rgba(86, 151, 224, 0.8127626050420168) 100%
  );
  opacity: 0.7;
  z-index: 1;
}
.backgroundImg,
.background {
  position: absolute;
  top: 0;
  height: 33%;
  width: 100%;
}
.backgroundImg img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem auto 0;
  position: relative;
  z-index: 3;
}
.container {
  width: 35%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1,
.header #darkIcon {
  color: #fff;
}
.header .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  opacity: 1;
}
.create-section {
  margin: 15px auto;
}
.create-section form {
  position: relative;
  display: flex;
  align-items: center;
}
.create-section form > span {
  position: absolute;
  left: 10px;
}
.create-section form input {
  padding: 10px 30px;
  padding-left: 40px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--main-border-color);
}
.create-section form input:focus {
  outline: none;
  border: 1px solid var(--main-border-color);
  box-shadow: var(--main-border-color) 0px 7px 29px 0px;
}
.create-section form input::placeholder {
  color: var(--third-border-color);
}
.create-section form .update {
  border: none;
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  display: none;
}
.create-section form .update > span {
  margin-right: 10px;
}
.result {
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.result-container {
  border: 1px solid var(--third-border-color);
  border-top: none;
  padding: 10px;
  border-radius: 5px;
  margin: 5px auto 15px;
  list-style: none;
}
.result-container .single-result {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.result-container .single-result > div {
  display: flex;
  align-items: center;
}
.result-container .single-result:not(:last-child) {
  padding: 4px 0;
  border-bottom: 1px solid var(--main-border-color);
}
.result-container .single-result:not(:first-child) {
  margin: 5px auto;
}
.result-container .single-result span:last-child {
  margin-left: 10px;
  padding: 4px 0;
}
.result-action-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
.result-action-btn > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.result-action-btn .all,
.result-action-btn .tobedone,
.result-action-btn .done,
.result-action-btn .clear {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.result-action-btn .all {
  background-color: #277bc0;
}
.result-action-btn .tobedone {
  background-color: #ffb200;
}
.result-action-btn .done {
  background-color: #3fa796;
}
.result-action-btn .clear {
  background-color: #c21010;
}

.taskText.done {
  text-decoration: line-through;
  opacity: 0.4;
}

@media (max-width: 1270px) {
  .container {
    width: 45%;
  }
}
@media (max-width: 998px) {
  .container {
    width: 55%;
  }
}
@media (max-width: 800px) {
  .container {
    width: 65%;
  }
}
@media (max-width: 680px) {
  .container {
    width: 75%;
  }
}
@media (max-width: 585px) {
  .container {
    width: 85%;
  }
  .result-action-btn {
    display: none;
  }
}
/* dark theme */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

body.dark .result-container {
  border: var(--third-border-color-dark);
}
body.dark .create-section form input {
  background-color: var(--main-color-text);
  border: none;
  color: var(--secondary-color-text);
  box-shadow: rgb(0 0 0/69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
}
body.dark .create-section form > span {
  color: var(--secondary-color-text);
}
body.dark .result {
  background-color: var(--main-color-text);
  color: var(--secondary-color-text);
  box-shadow: rgb(0 0 0/69%) 0px 26px 30px -10px,
    rgb(0 0 0/73%) 0px 16px 10px -10px;
}
/* body.dark .result {
  background-color: var(--main-color-text);
  color: var(--secondary-color-text);
} */
body.dark .create-section form input::placeholder {
  color: var(--secondary-color-text);
  opacity: 0.4;
}
